<ion-view>

  <ion-content>

    <ion-list>

      <ion-item class="settingItem">


        <form name="resetForm" ng-submit="updatePassword()">
          <div>
            <md-input-container>
              <label>Old Password</label>
              <input type="password" ng-model="new.oldPw" required>
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>New Password</label>
              <input type="password" ng-model="new.newPw" required>
            </md-input-container>
          </div>
          <div>
            <md-input-container>
              <label>Confirm New Password</label>
              <input type="password" ng-model="new.cfmNewPw" required>
            </md-input-container>
          </div>
          <div ng-show="new.newPw != new.cfmNewPw" style="color:red">
            New passwords don't match!
          </div>

          <button class="button button-block button-energized" ng-click="submit()" ng-disabled="resetForm.$invalid || new.newPw != new.cfmNewPw">Save Changes</button>

        </form>
      </ion-item>

  </ion-content>
</ion-view>
