<ion-view>

  <ion-content>
    <ion-list>
      <ion-item class="settingItem" ng-click="newFeedback()">
        <i class="zmdi zmdi-comment"></i>
        Start a new conversation!
        <i class="icon ion-chevron-right" style="float:right"></i>
      </ion-item>
      <ion-item class="settingItem" ng-click="pastFeedback()">
        <i class="zmdi zmdi-comments"></i>
        Past feedback
        <i class="icon ion-chevron-right" style="float:right"></i>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>


