<ion-view view-title="Welcome to Merlion Mall Asia!">
  <ion-content style="background: url(img/bg1.png) center; background-size: cover;" has-bouncing="false">
    <div class="hero no-header flat">
      <div class="content">
        <div class="app-icon"><img src="img/logo2.png"></div>
      </div>
    </div>
    <div>
      <form name="loginForm" novalidate="" ng-submit="login()">
        <div class="list" id="loginForm" style="padding-right:30px">
          <ion-md-input placeholder="Email" ng-required="true" highlight-color="balanced" type="text"
                        ng-model="logForm.username"></ion-md-input>
          <ion-md-input placeholder="Password" ng-required="true" highlight-color="energized" type="password"
                        ng-model="logForm.password"></ion-md-input>
        </div>

        <div class="padding">
          <button type="submit" ng-click="submit()" class="button button-full button-assertive"><i
            class="icon ion-android-unlock"></i> Login
          </button>
          <button ui-sref="register" class="button button-full  button-positive ink"><i class="icon ion-edit"></i>
            Register
          </button>
        </div>

      </form>
    </div>


  </ion-content>
</ion-view>
