
//Only offer at gold tier and above
4) Concierge Services (Type it out and select a shopping mall)
5) Check Status of concierge requests
<ion-view>

  <ion-content>
    <ion-list>
      <ion-item class="settingItem">
        <i class="icon ion-star"></i>
        My Merlion $tar Points
        <b><span style="float:right; color:#00317d">{{$storage.currentStars}}</span></b>
      </ion-item>
      <ion-item class="settingItem">
        <i class="icon mma-lion6"></i>
        My Membership Tier
        <b><span style="float:right; color:#00317d">{{$storage.userTier.name}}</span></b>
      </ion-item>
      <ion-item class="settingItem" ng-click="displayProgress()">
        <i class="zmdi zmdi-eye"></i>
        View Merlion Tiers
        <i class="icon ion-chevron-right" style="float:right"></i>
      </ion-item>
      <ion-item class="settingItem" ng-click="redeemRewards()">
        <i class="zmdi zmdi-card-giftcard"></i>
        Rewards and Redemption
        <i class="icon ion-chevron-right" style="float:right"></i>
      </ion-item>
      <ion-item class="settingItem" ng-click="conciergeService()">
        <i class="zmdi zmdi-face"></i>
        Concierge Service
        <br>
        <sub>*Only for {{$storage.allTiers[2].name}} Tier Members</sub>
        <i class="icon ion-chevron-right" style="float:right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>


