<ion-view cache-view="false">

  <ion-content>

    <ion-list>

      <ion-item class="settingItem" ng-click="fullHistory()">
        <i class="icon ion-clock"></i>
        View Full History
        <i class="icon ion-chevron-right" style="float:right"></i>
      </ion-item>
      <ion-item class="settingItem" ng-click="analytics()">
        <i class="icon ion-ios-analytics"></i>
        View My Spending Habits
        <i class="icon ion-chevron-right" style="float:right"></i>
      </ion-item>

    </ion-list>

  </ion-content>
</ion-view>
