<ion-view title="<img class='title-image' src='img/logo.png' >">
  <ion-content>

    <div class="list card stable-bg">

      <div class="item item-avatar">
        <img src="img/pixar.png">
        <h2>Joy</h2>
        <p>Inside Out</p>
      </div>`

      <div class="item item-image">
        <img src="img/joy.jpg">
      </div>
      <div class="item item-text-wrap"  >
        Joy’s goal has always been to make sure Riley stays happy. She is lighthearted, optimistic and determined to find the fun in every situation. Joy sees challenges in Riley’s life as opportunities, and the less happy moments as hiccups on the way back to something great. As long as Riley is happy, so is Joy.
      </div>

      <div class="item item-icon-left energized" style="display: inline-block; width: 50%">
        <i class="icon ion-information-circled"></i>
        $80 USD
      </div>

      <div style="float: right; padding-right: 10px">
      <button class="button button-assertive" >Add to cart</button>
      </div>

    </div>
    <div class="list card stable-bg">

      <div class="item item-avatar">
        <img src="img/pixar.png">
        <h2>Sadness</h2>
        <p>Inside Out</p>
      </div>

      <div class="item item-image">
        <img src="img/sadness.jpg">
      </div>
      <div class="item item-text-wrap"  >
        None of the other Emotions really understand what Sadness’s role is. Sadness would love to be more optimistic and helpful in keeping Riley happy, but she finds it so hard to be positive. Sometimes it seems like the best thing to do is just lie on the floor and have a good cry.
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>

    </div>
    <div class="list card stable-bg">

      <div class="item item-avatar">
        <img src="img/pixar.png">
        <h2>Fear</h2>
        <p>Inside Out</p>
      </div>

      <div class="item item-image">
        <img src="img/fear.jpg">
      </div>
      <div class="item item-text-wrap"  >
        Fear’s main job is to protect Riley and keep her safe. He is constantly on the lookout for potential disasters, and spends time evaluating the possible dangers, pitfalls and risk involved in Riley’s everyday activities. There are very few activities and events that Fear does not find to be dangerous and possibly fatal.
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>

    </div>
    <div class="list card stable-bg">

      <div class="item item-avatar">
        <img src="img/pixar.png">
        <h2>Anger</h2>
        <p>Inside Out</p>
      </div>

      <div class="item item-image">
        <img src="img/anger.jpg">
      </div>
      <div class="item item-text-wrap"  >

        Anger feels very passionately about making sure things are fair for Riley. He has a fiery spirit and tends to explode (literally) when things don’t go as planned. He is quick to overreact and has little patience for life’s imperfections.
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>

    </div>
    <div class="list card stable-bg">

      <div class="item item-avatar">
        <img src="img/pixar.png">
        <h2>Disgust</h2>
        <p>Inside Out</p>
      </div>

      <div class="item item-image">
        <img src="img/disgust.jpg">
      </div>
      <div class="item item-text-wrap"  >
        Disgust is highly opinionated, extremely honest and prevents Riley from getting poisoned — both physically and socially. She keeps a careful eye on the people, places and things that Riley comes into contact with — whether that’s broccoli or last year’s fashion trend. Disgust always has the best of intentions and refuses to lower her standards.
      </div>
      <a class="item item-icon-left assertive" href="#">
        <i class="icon ion-music-note"></i>
        Start listening
      </a>

    </div>
  </ion-content>
</ion-view>
