<ion-view title="<img class='title-image' src='img/logo.png' > ">
  <ion-content>
    <md-subheader class="md-primary">Current Category - {{$storage.category}}
    <br><span ng-show="$storage.aItems.length == 0">Sorry! No Results Found</span>

    </md-subheader>

    <div ng-repeat="aItem in $storage.aItems">
      <ul rn-carousel class="image">
        <li ng-repeat="image in aItem.pictureURLs">

          <img src="{{$storage.imageLocation}}{{image.url}}">

        </li>
      </ul>
      <div class="list card stable-bg">

        <div class="item item-avatar">
          <img src="{{aItem.tenant.logo}}">

          <div class="itemHeader item-text-wrap">{{aItem.name}}</div>

          <p>{{aItem.tenant.companyName}}</p>
        </div>


        <div class="item item-image">
          <ion-slide-box show-pager="{{shouldShow(false)}}">
            <ion-slide ng-repeat="image in aItem.pictureURLs">
              <img src="{{$storage.imageLocation}}{{image.url}}" style="height:100%">

              <div style="color: #00317d">
                Image: {{image.title}}
              </div>
            </ion-slide>
          </ion-slide-box>
        </div>
        <div class="item item-text-wrap" style="word-wrap: normal">
          {{aItem.description}}
        </div>


        <div ng-repeat="category in aItem.varianceFields">
          <md-input-container>
            <label>{{category.categoryName}}</label>
            <md-select ng-model="options[$index]">
              <md-option ng-repeat="varianceValue in category.varianceValues" value="{{varianceValue.value}}"
                         >
                {{varianceValue.value}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>

        <div class="item item-icon-left positive" style="display: inline-block; width: 50%">
          <i class="icon ion-information-circled"></i>
          ${{adjustedPrice(aItem.onlinePrice )| number:$storage.decimal}} {{$storage.currency}}
        </div>
        <div style="float: right; padding-right: 10px">
          <!--<button class="button button-assertive" ng-click="addToCart">Add to cart</button>-->

          <ngcart-addtocart id="{{aItem.id}}" name="options" price="{{aItem.onlinePrice}}" data="aItem">
            Add To Cart
          </ngcart-addtocart>
          <!--<button ng-click="hi()"></button>-->

        </div>
      </div>
    </div>

    <!--STILL TO BE ADDED :-->
    <!--1)CHECK FOR A&P-->
    <!--4)Settings Menu-->
    <!--7)Add option to remove payment option!!!-->


    <!--SERVICE SIDE STILL NOT DONE!-->

  </ion-content>
</ion-view>
