<ion-view cache-view="false">

  <!--After Login-->
  <!--//Only offer at gold tier and above-->
  <!--4) Concierge Services (Type it out and select a shopping mall)-->
     <!--5) Check Status of concierge requests-->
      <!--5) residential address != shipping-->

  <ion-content>

    <ion-list>

      <div ng-show="loggedIn" class="postLog">
        <ion-item class="settingItem" ng-click="merlion()">
          <i class="icon mma-lion6"></i>
          My Merlion Star Membership
          <i class="icon ion-chevron-right" style="float:right"></i>
        </ion-item>
        <ion-item class="settingItem" ng-click="userProfile()">
          <i class="icon ion-android-person"></i>
          My Profile
          <i class="icon ion-chevron-right" style="float:right"></i>
        </ion-item>
        <ion-item class="settingItem" ng-click="orderHistory()">
          <i class="icon ion-clock"></i>
          My Order History
          <i class="icon ion-chevron-right" style="float:right"></i>
        </ion-item>
        <ion-item class="settingItem" ng-click="feedback()">
          <i class="icon ion-android-mail"></i>
          Feedback
          <i class="icon ion-chevron-right" style="float:right"></i>
        </ion-item>

      </div>

      <ion-item class="settingItem" ng-click="selectCountry()">
        <i class="icon ion-earth"></i>
        Country
        <i class="icon ion-chevron-right" style="float:right"></i>
      </ion-item>
      <div ng-show="loggedIn" class="postLog">
        <ion-item class="settingItem">
          <div style="display: inline-block; padding-right: 50px" ng-click="logout()">
            <i class="icon ion-log-out">
              Logout
            </i>
          </div>
        </ion-item>
      </div>

      <div ng-hide="loggedIn" class="preLog">
        <ion-item class="settingItem" style="text-align: center;">
          <div style="display: inline-block; padding-right: 50px" ng-click="login()">
            <i class="icon ion-log-in">
              Login
            </i>
          </div>

          <div style="display: inline-block" ng-click="register()">
            <i class="icon ion-log-in">
              Register
            </i>
          </div>

        </ion-item>


        <ion-item class="settingItem"></ion-item>

      </div>


    </ion-list>
    <!--Before Login (done)-->
    <!--1) Sign in-->
    <!--2) Register-->


    <!--After Login-->
    <!--1) My points / My Tier (Merlion Membership Details)-->
        <!--3) View Tiers-->
        <!--3) Rewards and Redemption-->
            <!-&#45;&#45; View rewards-->
            <!-&#45;&#45; Redeem-->
            <!--//Only offer at silver tier and above-->
            <!--4) Concierge Services (Type it out and select a shopping mall)-->
            <!--5) Check Status of concierge requests-->
    <!--6) Discounts //Go To Retail, clear history and display those with discounts-->



    <!--7) Profile (Edit and delete account)-->
      <!--5) Shipping Address-->
    <!--8) Logout (done)-->
    <!--9) Feedback for Shopping Mall-->
    <!--2) Order History-->
    <!--10) View Personalised Shopping Recommendations-->
    <!--11)-->

  </ion-content>
</ion-view>
