<!--<div ng-hide="attrs.id">-->
    <!--<a class="btn btn-lg btn-primary" ng-disabled="true" ng-transclude></a>-->

<!--</div>-->
<div>
    <div>
        <button class="button button-energized"
           ng-click="ngCart.addItem(id, name, price,q, data)"
           ng-transclude ng-hide="inCart()" style="width:100px"></button>
      <button class="button button-assertive" ng-show="inCart()" style="width:100px" ng-click="ngCart.removeItemById(id)"><div class="item-text-wrap">Remove</div></button>
      <!--<div class="removeFromCart">-->
        <!--<a ng-click="ngCart.removeItemById(item.getId())">(Remove)</a>-->
      <!--</div>-->
    </div>
</div>
